<%= image_tag("lai.jpg") %>
<div style="background-color: green"> I am from China </div><br>
senior<br>
<div style=><font color ="red"><b>i like playing basketball</b></font></div><br>
<font color="blue"><u>I am excited about building website</u></font>
